$board-size: 406px;
$square-size: 50px;

*{
  box-sizing: border-box;
  text-shadow:none;
}
html, body{
  height:100%;
}

html{
  background:rgb(51,51,51);
}
a{
  color:white;
  
  &:hover{
    color:#efefef;
  }
}
.game{
  width: $board-size;
  height: 100%;
  margin: 50px auto;

  .hud{
    height:30px;
    line-height:30px;
    
    .player{
      font-size:20px;
      text-align:center;
      color:#efefef;
    }
    .status{
      font-size: 14px;
      color:#efefef;
      text-align: center;
    }
  }

  .board{
    display:flex;
    width: $board-size;
    flex-wrap:wrap;
    border: 3px double white;
    
    .square{
      width: $square-size;
      height: $square-size;
      line-height: $square-size;
      text-align:center;
      border:1px solid black;
      
      &.black{
        background:#555;
      }
      &.gray{
        background:#ccc;
      }

      .checker{
        width: 40px;
        height: 40px;
        margin:4px;
        border-radius:20px;
        line-height: 40px;
        cursor:pointer;

        &.red{
          background: red;
          color: white;
          border: 3px double darkred;
        }
        &.white{
          background: white;
          color:black;
          border: 3px double #777;
        }
        &.empty{
          display:none;
        }
      }
    }
  }
  .startBtn{
    text-align: center;

    button{
      width:100px;
      height:40px;
      -webkit-appearance: none;
      background:rgb(61, 169, 249);
      border:none;
      margin-top: 10px;
      font-size:18px;
    }
  }
}